@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

html,
body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}

/* .navbar-nav .dropdown:hover .dropdown-menu {
            display: block;
        } */

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.carousel-item-overlay {
    position: relative;
}

.carousel-item-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel-item-overlay .carousel-caption-overlay {
    position: absolute;
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.vh-10 {
    height: 10vh;
    object-fit: cover;
}

.vh-15 {
    height: 15vh;
    object-fit: cover;
}

.vh-20 {
    height: 20vh;
    object-fit: cover;
}

.vh-25 {
    height: 25vh;
    object-fit: cover;
}

.vh-50 {
    height: 50vh;
    object-fit: cover;
}

.vh-65 {
    height: 65vh;
    object-fit: cover;
}

.vh-75 {
    height: 75vh;
    object-fit: cover;
}

.text-shadow {
    /* text-shadow: 0 0 3px #1e293b; */
    text-shadow: 0 0 3px #0f172a;
    underline: none;
}

.custom-img {
    max-width: 100%;
    height: auto;
}

